[Unit]
Description=Team Fortress 2 server
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/bin/sh /home/hlserver/tf2/tf2.sh

[Install]
WantedBy=multi-user.target